<div class="body">
  <h1 class="h1">Manicuras</h1>
  <div class="general">
    <p>
      Somos especialistas en manicura rusa. Trabajamos con todas las
      herramientas desinfectadas y esterilizadas con autoclave. Usamos limas
      desechables.
    </p>
  </div>
  <div>
    <h2 class="h2">Manicura tradicional</h2>
    <div>
      <div class="container_flex">
        <div>
          <img
            class="img_depilacion"
            src="./assets/img/unas1.jpg"
            alt="Imagen de una mujer recibiendo una manicura"
          />
        </div>
        <div class="parrafo general">
          <p>
            Consiste en la retirada de cutículas, limado y esmaltado con esmalte
            normal.
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="h2">Manicura semipermanente</h2>
  <div>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/unas2.jpg"
          alt="Imagen de una mujer recibiendo una manicura"
        />
      </div>
      <div class="parrafo general">
        <p>
          Es la manicura más demandada. Consiste en la retirada de cutículas,
          limado y esmaltado con esmalte semipermanente. Su durabilidad es de
          21/28 dias, dependiendo del crecimiento de la uña.
        </p>
      </div>
    </div>
  </div>

  <h2 class="h2">Uñas de gel</h2>
  <div>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/unas3.jpg"
          alt="Imagen de una mujer recibiendo una manicura"
        />
      </div>
      <div class="general">
        <p>
          Es la técnica con la cual podemos alargar la uña natural hasta la
          longitud deseada.
        </p>
      </div>
    </div>
  </div>
</div>
