<div class="body">
  <h1 class="h1">Masajes</h1>

  <div>
    <div>
      <div class="general">
        <p>
          Ven a relajarte a nuestra cabina, donde nuestra decoración,
          iluminación y nuestra música te llevará al paraíso.
        </p>
      </div>
      <div class="container_flex_row">
        <img
          class="img_vertical"
          src="./assets/img/masaje1.jpg"
          alt="Imagen de una cabina de masajes"
        />
      </div>
    </div>
  </div>
  <h2 class="h2">Masaje relajante</h2>
  <div>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/masaje2.jpg"
          alt="Imagen de una mujer recibiendo un masaje"
        />
      </div>
      <div class="parrafo general">
        <p>
          Te ayuda a desconectar del estrés del día a día y a equilibrar el
          cuerpo y la mente.
        </p>
      </div>
    </div>
  </div>

  <h2 class="h2">Masaje circulatorio</h2>
  <div>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/masaje3.jpg"
          alt="Imagen de una mujer recibiendo un masaje"
        />
      </div>
      <div class="parrafo general">
        <p>
          Ideal para aquellas personas que sufren de "piernas cansadas"
          activando la circulación y evitando la retención de líquidos y
          toxinas.
        </p>
      </div>
    </div>
  </div>

  <h2 class="h2">Quiromasaje</h2>
  <div>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/masaje4.jpg"
          alt="Imagen de una mujer recibiendo un masaje"
        />
      </div>
      <div class="parrafo general">
        <p>
          Es un masaje para aquellas personas que padezcan dolores de origen
          muscular.
        </p>
      </div>
    </div>
  </div>
</div>
