<div class="body">
  <h1 class="h1">Depilación</h1>
  <div>
    <h2 class="h2" id="milesman">Depilación láser de diodo Milesman</h2>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/depilacion_laser.jpg"
          alt="Imágen depilación láser"
        />
      </div>
      <div class="parrafo general">
        <p>
          Una depilación segura y eficaz, en la que utilizamos un equipo de
          última generación y alta potencia (808 watios), con el que
          conseguimos:
        </p>
        <ul>
          <li>Resultados efectivos desde la primera sesión.</li>
          <li>
            Eliminación del pelo y vello en cualquier zona del cuerpo, hasta el
            más fino y débil.
          </li>
          <li>Efectivo, rápido e indoloro.</li>
          <li>Para todo tipo de pieles y fototipos.</li>
          <li>Tratamiento unisex</li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <h2 class="h2" id="cera">Depilación con cera</h2>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/depilacion_cera.jpg"
          alt="Imágen depilación láser"
        />
      </div>
      <div class="parrafo general">
        <p>
          La depilación con cera es uno de los tratamientos más demandados del
          mercado.
        </p>
        <p>Sus características son:</p>
        <ul>
          <li>Cera roll-on de un solo uso.</li>
          <li>Cera caliente desechable.</li>
          <li>Indicado para cualquier zona.</li>
          <li>Unisex</li>
        </ul>
      </div>
    </div>
  </div>
</div>
