<div class="body">
  <h1 class="h1">Tratamientos faciales</h1>

  <div>
    <h2 class="h2" id="higiene">Higiene facial</h2>
    <div>
      <div class="container_flex">
        <div>
          <img
            class="img_depilacion"
            src="./assets/img/facial1.jpg"
            alt="Imagen de una mujer recibiendo un tratamiento facial"
          />
        </div>
        <div class="parrafo general">
          <p>
            Es el tratamiento necesario para nuestra piel, eliminaremos células
            muertas, aportaremos luminosidad y regularemos el PH de la piel.
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="h2" id="tratamiento">Higiene facial con tratamiento</h2>

  <div class="container_flex">
    <div class="parrafo general">
      <p>
        Al igual que la higiene facial, incluye un tratamiento específico,
        dependiendo de las necesidades de cada piel.
      </p>
    </div>
  </div>

  <h2 class="h2" id="skin">Skin pen</h2>
  <div class="container_flex">
    <div class="parrafo general">
      <p>
        También llamado dermapen. Con este dispositivo que crea miles de canales
        microscópicos en tu piel, podemos tratar y reparar la piel según sus
        necesidades.
      </p>
    </div>
  </div>
  <h2 class="h2" id="cocteles">Nuestros cócteles:</h2>

  <div class="container_flex">
    <div class="parrafo general">
      <ul>
        <li class="margen-bot">
          <span class="bold">Skin Hyaluronic: Hidratación completa</span>
          <ul>
            <li>Mejora la apariencia de las líneas de expresión.</li>
            <li>Aporta hidratación a diferentes capas de la piel.</li>
            <li>Piel más flexible, firme e hidratada.</li>
          </ul>
        </li>
        <li class="margen-bot">
          <span class="bold">Skin Lifting: lifting intensivo</span>
          <ul>
            <li>Combate eficazmente la flacidez.</li>
            <li>Mejora la elasticidad y la luminosidad de la piel.</li>
            <li>Fortalece y rejuvenece el rostro.</li>
          </ul>
        </li>
        <li class="margen-bot">
          <span class="bold">Skin Rejuvenating: antiedad total</span>
          <ul>
            <li>Repara los signos del envejecimiento.</li>
            <li>Suaviza las arrugas y líneas de expresión.</li>
            <li>Restaura la elasticidad y vitalidad de los tejidos.</li>
            <li>
              Reduce imperfecciones como poros dilatados o marcas epidérmicas
            </li>
          </ul>
        </li>
        <li class="margen-bot">
          <span class="bold">Skin brightening: Blanqueador antimanchas</span>
          <ul>
            <li>Atenúa las manchas de la piel.</li>
            <li>Acción iluminadora, antioxidante y revitalizante.</li>
          </ul>
        </li>
        <li class="margen-bot">
          <span class="bold">Hair: anti-caida del cabello</span>
          <ul>
            <li>Incrementa el grosor y volumen del cabello.</li>
            <li>Incrementa la fuerza y resistencia del pelo.</li>
            <li>Induce el crecimiento.</li>
            <li>Mantiene el cuero cabelludo revitalizado.</li>
          </ul>
        </li>
        <li class="margen-bot">
          <span class="bold">Lipo reducing: lipolítico reductor</span>
          <ul>
            <li>Mejora la piel de naranja.</li>
            <li>Reduce las acumulaciones de grasa localizada.</li>
            <li>
              Disminuye el volumen corporal y favorece la eliminación de
              líquidos.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <h2 class="h2" id="radio">Radiofrecuencia Coccon</h2>
  <div class="container_flex">
    <div class="parrafo general">
      <p>
        Es un tratamiento que eleva la temperatura de los tejidos, logrando así
        estimular la producción de colágeno y elastina, ayudando a combatir los
        signos del envejecimiento de la piel.
      </p>
      <p>Con este tratamiento conseguimos:</p>
      <ul>
        <li>Piel más tersa</li>
        <li>Piel más luminosa</li>
        <li>Disminuir las arrugas</li>
      </ul>
    </div>
  </div>
  <h2 class="h2" id="q">Laser Q-switch</h2>
  <div class="container_flex">
    <div class="parrafo general">
      <p>
        También llamado tratamiento de carbón activo, rejuvenece, mejora tu
        piel, el tono y la textura aoprtando una oxigenación a la piel.
      </p>
    </div>
  </div>
</div>
