<div class="pre-header">
  <div class="main-header">
    <div class="logo-img">
      <img class="imagen" src="./assets/img/logo.png" alt="logo" />
    </div>

    <span class="site-name">Sheyla Homs Centre d'estètica</span>
    <div *ngIf="showNoAuthSection">
      <button
        class="btn btn-secondary button-login"
        (click)="navigationTo('login')"
      >
        Iniciar sesión
      </button>
    </div>
    <div *ngIf="showAuthSection">
      <button
        class="btn btn-secondary button-login"
        (click)="navigationTo('logout')"
      >
        Cerrar sesión
      </button>
    </div>
  </div>
</div>

<nav *ngIf="showNoAuthSection" class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="depilacion"
            >Depilación</a
          >
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="depilacion#milesman">Láser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="depilacion#cera">Con cera</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="maquillajes">Maquillajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="microblading">Microblading</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pestanas">Pestañas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="manicuras">Manicuras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pedicuras">Pedicuras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="masajes">Masajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="faciales">Faciales</a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="faciales#higiene">Higiene</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="faciales#tratamiento"
                >Higiene con tto.</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="faciales#skin">SkinPen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="faciales#cocteles">Cócteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="faciales#radio"
                >Radiofrecuencia</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="faciales#q">Q-switch</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="corporales">Corporales</a>
          <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink="corporales#higiene"
                >Higiene espalda</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="corporales#radio"
                >Radiofrecuencia</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="corporales#cavitacion"
                >Cavitación</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="corporales#preso">Presoterapia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="corporales#muscle"
                >Musclebeauty</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="laser">Láser Azul</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- AUTH REQUIRED -->
<div class="panel" *ngIf="showAuthSection">
  <div class="panel__botones">
    <button class="btn btn-secondary" (click)="navigationTo('calendar')">
      Agenda
    </button>
    <button class="btn btn-secondary" (click)="navigationTo('citas')">
      Citas
    </button>
    <button class="btn btn-secondary" (click)="navigationTo('usuarios')">
      Clientes
    </button>
    <button class="btn btn-secondary" (click)="navigationTo('servicios')">
      Servicios
    </button>
    <button class="btn btn-secondary" (click)="navigationTo('profile')">
      Perfil
    </button>
  </div>
</div>
