<div class="body">
  <h1 class="h1">Tratamientos corporales</h1>

  <div>
    <h2 class="h2" id="preso">Presoterapia</h2>
    <div>
      <div class="container_flex">
        <div>
          <img
            class="img_depilacion"
            src="./assets/img/presoterapia1.jpg"
            alt="Imagen de una mujer recibiendo un tratamiento de presoterapia"
          />
        </div>
        <div class="parrafo general">
          <p>
            Es un tratamiento estético que utiliza presión de aire. Con esta
            técnica lograremos mejorar el sistema limfático mejorando la
            circulación la sensación de "piernas cansadas".
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="h2" id="higiene">Higiene de espalda</h2>

  <div class="container_flex">
    <div class="parrafo general">
      <p>
        Es el tratamiento con el que eliminaremos células muertas e impurecas y
        equilibraremos el PH de la piel.
      </p>
    </div>
  </div>

  <h2 class="h2" id="radio">Radiofrecuencia monopolar y multipolar</h2>
  <div class="container_flex">
    <div class="parrafo general">
      <p>Dependiendo del accesorio que utilicemos podemos:</p>
      <ul>
        <li>Drenar.</li>
        <li>Reafirmar.</li>
        <li>Destruir el tejido adiposo.</li>
        <li>Eliminar grasa localizada reduciendo el volumen.</li>
      </ul>
    </div>
  </div>
  <h2 class="h2" id="cavitacion">Cavitacion</h2>
  <div class="container_flex">
    <div class="parrafo general">
      <p>
        Es una técnica para eliminar la grasa localizada mediante el uso de
        ultrasonidos. Esta técnica consigue pasar de estado sólido a líquido la
        grasa acumulada para después ser eliminada del organismo a través de la
        orina.
      </p>
    </div>
  </div>
  <h2 class="h2" id="muscle">Musclebeauty</h2>
  <div class="container_flex">
    <div class="parrafo general">
      <p>
        Indicado para todas aquellas personas, sin importar su edad, que quieran
        realzar la musculatura y quieran eliminar la grasa interna. Desarrolla
        músculo y quema grasa, haciendo que los músculos se contraigan 20.000
        veces en una sesión de 30 minutos.
      </p>
      <p>Resultados:</p>
      <ul>
        <li>Aplanar y marcar abdomen.</li>
        <li>Endurecer muslos.</li>
        <li>Aumentar y endurecer pectorales.</li>
        <li>Aumentar y levantar glúteos.</li>
        <li>Reducir adiposidades localizada y la celulitis</li>
      </ul>
    </div>
  </div>
</div>
