<div class="centrado">
  <h1>Crear o modificar un servicio</h1>
  <form [formGroup]="servicioForm" (ngSubmit)="guardarServicio()">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        [formControl]="nombre"
        id="nombre"
      />
      <label for="nombre">Nombre</label>
      <div *ngIf="nombre.errors && isValidForm != null && !isValidForm">
        <div *ngIf="nombre.errors.required">El nombre es necesario.</div>
        <div *ngIf="nombre.errors.minlength">
          El nombre debe tener 5 carácteres como mínimo.
        </div>
        <div *ngIf="nombre.errors.maxlength">
          El nombre debe tener 25 carácteres como máximo.
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        [formControl]="descripcion"
        id="descripcion"
      />
      <label for="descripcion">Descripción</label>
      <div *ngIf="descripcion.errors && isValidForm != null && !isValidForm">
        <div *ngIf="descripcion.errors.required">
          La descripción es necesaria.
        </div>
        <div *ngIf="descripcion.errors.minlength">
          La descripción debe tener 5 carácteres como mínimo.
        </div>
        <div *ngIf="descripcion.errors.maxlength">
          La descripción debe tener 250 carácteres como máximo.
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        [formControl]="precio"
        id="precio"
      />
      <label for="precio">Precio</label>
      <div *ngIf="precio.errors && isValidForm != null && !isValidForm">
        <div *ngIf="precio.errors.required">El precio es necesario.</div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        [formControl]="duracion"
        id="duracion"
      />
      <label for="duracion">Duracion</label>
      <div *ngIf="duracion.errors && isValidForm != null && !isValidForm">
        <div *ngIf="duracion.errors.required">La duracion es necesaria.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar Servicio</button>
  </form>
</div>
