<div>
  <h1>Crear una cita</h1>
  <form [formGroup]="citaForm" (ngSubmit)="crearCita()">
    <div>
      <label for="start">Fecha y hora: </label>
      <input type="datetime-local" [formControl]="start" />
      <div
        *ngIf="start.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="start.errors.required">Birth date is required</div>
      </div>
    </div>

    <div>
      <label for="users">Choose users:</label>
      <select [formControl]="user">
        <option *ngFor="let user of userList" [ngValue]="user._id">
          {{ user.nombre + " " + user.apellido1 + " / " + user.email }}
        </option>
      </select>
    </div>

    <div>
      <label for="servicios">Choose servicios:</label>
      <select [formControl]="servicio">
        <option *ngFor="let servicio of serviciosList" [ngValue]="servicio._id">
          {{ servicio.nombre }}
        </option>
      </select>
    </div>

    <button type="submit">Crear Cita</button>
  </form>
</div>
