<div class="body">
  <h1 class="h1">Sheila Homs centre d'estètica</h1>
  <div>
    <div class="container_flex">
      <div class="container_flex_row">
        <img
          class="img_vertical"
          src="./assets/img/sheila.jpg"
          alt="Imagen mujer recibiendo un tratamiento de microblading"
        />
        <div class="parrafo general">
          <h2 class="h2">Trabajamos con las mejores marcas</h2>
          <ul>
            <li>Semilac</li>
            <li>anubis</li>
            <li>Jorge de la Garza</li>
            <li>Arual</li>
            <li>Photobiologics</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container_flex general">
    <h2 class="h2">¿Dónde estamos?</h2>

    <p>Calle Cervera nº 137</p>
    <p>CP: 08227</p>
    <p>Terrassa</p>
    <p>Teléfono: 687 62 06 75</p>
  </div>
</div>
