<div class="body">
  <h1 class="h1">Maquillajes</h1>
  <div class="general">
    <p>¿Tienes un evento?</p>
    <p>Nosotros nos encargamos de tu maquillaje para realzar tu belleza.</p>
  </div>
  <div>
    <h2 class="h2" id="dia">Maquillaje de día</h2>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/dia.jpg"
          alt="Imagen mujer maquillada por profesional"
        />
      </div>
      <div class="parrafo general">
        <p>
          El maquillaje de día es un tipo de maquillaje más suave. Realza los
          rasgos naturales del rostro sin que parezca que se va super
          maquillada.
        </p>
      </div>
    </div>
  </div>

  <div>
    <h2 class="h2" id="cera">Maquillaje de noche</h2>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/noche.jpg"
          alt="Imagen mujer maquillada por profesional"
        />
      </div>
      <div class="parrafo general">
        <p>
          El maquillaje de noche se caracteriza por ser más llamativo e intenso.
          Se utilizan tonos más llamativos usando técnicas que marquen más el
          maquillaje
        </p>
      </div>
    </div>
  </div>

  <div>
    <h2 class="h2" id="cera">Maquillaje de novia</h2>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/novia.jpg"
          alt="Imagen de una novia siendo maquillada por un profesional"
        />
      </div>
      <div class="parrafo general">
        <p>
          El maquillaje de novia es un maquillaje muy elaborado, que enbellece
          los rasgos naturales y resalta sin apenas ser percibido.
        </p>
        <p>Este maquillaje requiere de una prueba previa.</p>
      </div>
    </div>
  </div>
</div>
