<div class="body">
  <h1 class="h1">Microblading</h1>
  <div class="general">
    <p>
      El microblading es una técnica de maquillaje semipermanente que suele
      durar entre 9 y 12 meses, dependiendo del tipo de piel.
    </p>
  </div>
  <div>
    <div class="container_flex">
      <div class="container_flex_row">
        <img
          class="img_vertical"
          src="./assets/img/microblading1.jpg"
          alt="Imagen mujer recibiendo un tratamiento de microblading"
        />
        <img
          class="img_vertical"
          src="./assets/img/microblading2.jpg"
          alt="Imagen mujer recibiendo un tratamiento de microblading"
        />
      </div>

      <div class="parrafo general">
        <p>
          El objetivo es corregir o reconstruir completamente una ceja carente
          de pelo o ausente.
        </p>
        <p>Lo que implica este tratamiento es:</p>
        <ul>
          <li>Cejas más definidas.</li>
          <li>Previo diseño de la ceja.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
