<div>
  <h1>Profile</h1>
  <form [formGroup]="updateForm" (ngSubmit)="update()">
    <div>
      <label for="email">Email: </label>
      <input type="email" [formControl]="email" />
      <div
        *ngIf="email.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="email.errors.required">El e-mail es necesario.</div>
        <div *ngIf="email.errors.pattern">
          El formato del e-mail no es correcto.
        </div>
        <div *ngIf="email.errors.minlength">
          El e-mail debe tener 8 carácteres como mínimo.
        </div>
      </div>
    </div>

    <div>
      <label for="password">Password: </label>
      <input type="password" [formControl]="password" />
      <div
        *ngIf="password.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="password.errors.minlength">
          El password debe tener 8 carácteres como mínimo.
        </div>
        <div *ngIf="password.errors.maxlength">
          El password debe tener 16 carácteres como máximo.
        </div>
      </div>
    </div>
    <div>
      <label for="nombre">Nombre: </label>
      <input type="text" [formControl]="nombre" />
      <div
        *ngIf="nombre.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="nombre.errors.required">El nombre es necesario</div>
        <div *ngIf="nombre.errors.minlength">
          El nombre debe tener 2 carácteres como mínimo.
        </div>
        <div *ngIf="nombre.errors.maxlength">
          El nombre debe tener 20 carácteres como máximo.
        </div>
      </div>
    </div>
    <div>
      <label for="apellido1">Apellido1: </label>
      <input type="text" [formControl]="apellido1" />
      <div
        *ngIf="apellido1.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="apellido1.errors.required">
          El primer apellido es necesario
        </div>
        <div *ngIf="apellido1.errors.minlength">
          El primer apellido debe tener 2 carácteres como mínimo.
        </div>
        <div *ngIf="apellido1.errors.maxlength">
          El primer apellido debe tener 20 carácteres como máximo.
        </div>
      </div>
    </div>
    <div>
      <label for="apelllido2">Apellido2: </label>
      <input type="text" [formControl]="apellido2" />
      <div
        *ngIf="apellido2.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="apellido2.errors.minlength">
          El segundo apellido debe tener 2 carácteres como mínimo.
        </div>
        <div *ngIf="apellido2.errors.maxlength">
          El segundo apellido debe tener 20 carácteres como máximo.
        </div>
      </div>
    </div>
    <div>
      <label for="nacimiento">Nacimiento: </label>
      <input type="date" [formControl]="nacimiento" />
    </div>
    <div>
      <label for="tel1">Teléfono 1: </label>
      <input type="text" [formControl]="tel1" />
      <div
        *ngIf="tel1.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="tel1.errors.required">El teléfono 1 es necesario.</div>
        <div *ngIf="tel1.errors.minlength">
          El teléfono 1 tiene que tener 9 dígitos.
        </div>
        <div *ngIf="tel1.errors.maxlength">
          El teléfono 1 tiene que tener 9 dígitos.
        </div>
      </div>
    </div>
    <div>
      <label for="tel2">Teléfono 2: </label>
      <input type="text" [formControl]="tel2" />
      <div
        *ngIf="tel2.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="tel2.errors.minlength">
          El teléfono 2 tiene que tener 9 dígitos.
        </div>
        <div *ngIf="tel2.errors.maxlength">
          El teléfono 2 tiene que tener 9 dígitos.
        </div>
      </div>
    </div>
    <form>
      <span>Genero:</span>

      <input
        type="radio"
        name="genero"
        value="mujer"
        id="option1"
        [formControl]="genero"
      />
      <label for="option1">Mujer</label>

      <input
        type="radio"
        name="genero"
        value="hombre"
        id="option2"
        [formControl]="genero"
      />
      <label for="option2">Hombre</label>
    </form>
    <form>
      <span>Rol:</span>

      <input
        type="radio"
        name="radio2"
        value="basic"
        id="option3"
        [formControl]="rol"
      />
      <label for="option3">Básico</label>

      <input
        type="radio"
        name="radio2"
        value="admin"
        id="option4"
        [formControl]="rol"
      />
      <label for="option4">Administrador</label>
    </form>

    <button type="submit">Actualizar</button>
  </form>
</div>
