<div class="body">
  <h1 class="h1">Pedicuras</h1>
  <div class="general">
    <p>
      Nuestras pedicuras son un placer para los pies, no solo porque los
      enbellecemos, si no porque los cuidamos. Trabajamos con todas las
      herramientas desinfectadas y esterilizadas en autoclave y limas
      desechables.
    </p>
  </div>
  <div>
    <h2 class="h2">Pedicura tradicional</h2>
    <div>
      <div class="container_flex">
        <div>
          <img
            class="img_depilacion"
            src="./assets/img/pedicura1.jpg"
            alt="Imagen de una mujer recibiendo una Pedicura"
          />
        </div>
        <div class="parrafo general">
          <p>
            Consiste en la retirada de cutículas, limado, pulir las duricias y
            esmaltado tradicional.
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="h2">Pedicura semipermanente</h2>
  <div>
    <div class="container_flex">
      <div>
        <img
          class="img_depilacion"
          src="./assets/img/pedicura2.jpg"
          alt="Imagen de una mujer recibiendo una manicura"
        />
      </div>
      <div class="parrafo general">
        <p>
          Consiste en la retirada de cutículas, limado, pulir las duricias y
          esmaltado semipermanente. Su durabilidad es de 21/28 dias, dependiendo
          del creciemiento de la uña.
        </p>
      </div>
    </div>
  </div>
</div>
